{
  "env": {
    "commonjs": {
      "presets": [
        ["@babel/env", {"loose": true}]
      ]
    },
    "es": {
      "presets": [
        ["@babel/env", {"loose": true, "modules": false}]
      ]
    }
  }
}
